In [39]:
!pip install ipython-sql
!pip install pandas
!pip install mysql-connector-python
!pip install qgrid

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in ./.local/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in ./.local/lib/python3.11/site-packages (from ipython-sql) (3.7.0)
Requirement already satisfied: ipython in ./.local/lib/python3.11/site-packages (from ipython-sql) (8.14.0)
Requirement already satisfied: sqlalchemy>=2.0 in ./.local/lib/python3.11/site-packages (from ipython-sql) (2.0.15)
Requirement already satisfied: sqlparse in ./.local/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /usr/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in ./.local/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in ./.local/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in ./.local/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: backcall in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: matplotlib-inline in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in ./.local/lib/python3.11/site-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in ./.local/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./.local/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in ./.local/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in ./.local/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: pure-eval in ./.local/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in ./.local/lib/python3.11/site-packages (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./.local/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in ./.local/lib/python3.11/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in ./.local/lib/python3.11/site-packages (from mysql-connector-python) (3.20.3)
Defaulting to user installation because normal site-packages is not writeable
Collecting qgrid
  Downloading qgrid-1.3.1.tar.gz (889 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 889.2/889.2 kB 2.5 MB/s eta 0:00:00[31m2.2 MB/s eta 0:00:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: notebook>=4.0.0 in ./.local/lib/python3.11/site-packages (from qgrid) (6.5.4)
Requirement already satisfied: pandas>=0.18.0 in ./.local/lib/python3.11/site-packages (from qgrid) (2.0.2)
Requirement already satisfied: ipywidgets>=7.0.0 in ./.local/lib/python3.11/site-packages (from qgrid) (8.0.6)
Requirement already satisfied: ipykernel>=4.5.1 in ./.local/lib/python3.11/site-packages (from ipywidgets>=7.0.0->qgrid) (6.23.1)
Requirement already satisfied: ipython>=6.1.0 in ./.local/lib/python3.11/site-packages (from ipywidgets>=7.0.0->qgrid) (8.14.0)
Requirement already satisfied: traitlets>=4.3.1 in ./.local/lib/python3.11/site-packages (from ipywidgets>=7.0.0->qgrid) (5.9.0)
Requirement already satisfied: widgetsnbextension~=4.0.7 in ./.local/lib/python3.11/site-packages (from ipywidgets>=7.0.0->qgrid) (4.0.7)
Requirement already satisfied: jupyterlab-widgets~=3.0.7 in ./.local/lib/python3.11/site-packages (from ipywidgets>=7.0.0->qgrid) (3.0.7)
Requirement already satisfied: jinja2 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (3.1.2)
Requirement already satisfied: tornado>=6.1 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (6.3.2)
Requirement already satisfied: pyzmq>=17 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (25.1.0)
Requirement already satisfied: argon2-cffi in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (21.3.0)
Requirement already satisfied: jupyter-core>=4.6.1 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (5.3.0)
Requirement already satisfied: jupyter-client>=5.3.4 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (8.2.0)
Requirement already satisfied: ipython-genutils in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (0.2.0)
Requirement already satisfied: nbformat in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (5.9.0)
Requirement already satisfied: nbconvert>=5 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (7.4.0)
Requirement already satisfied: nest-asyncio>=1.5 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (1.5.6)
Requirement already satisfied: Send2Trash>=1.8.0 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (0.17.1)
Requirement already satisfied: prometheus-client in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (0.17.0)
Requirement already satisfied: nbclassic>=0.4.7 in ./.local/lib/python3.11/site-packages (from notebook>=4.0.0->qgrid) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.11/site-packages (from pandas>=0.18.0->qgrid) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.local/lib/python3.11/site-packages (from pandas>=0.18.0->qgrid) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./.local/lib/python3.11/site-packages (from pandas>=0.18.0->qgrid) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./.local/lib/python3.11/site-packages (from pandas>=0.18.0->qgrid) (1.24.3)
Requirement already satisfied: comm>=0.1.1 in ./.local/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in ./.local/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid) (1.6.7)
Requirement already satisfied: matplotlib-inline>=0.1 in ./.local/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid) (0.1.6)
Requirement already satisfied: packaging in /usr/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid) (23.0)
Requirement already satisfied: psutil in ./.local/lib/python3.11/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid) (5.9.5)
Requirement already satisfied: backcall in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.2.0)
Requirement already satisfied: decorator in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (5.1.1)
Requirement already satisfied: jedi>=0.16 in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.18.2)
Requirement already satisfied: pickleshare in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (2.15.1)
Requirement already satisfied: stack-data in ./.local/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (4.8.0)
Requirement already satisfied: platformdirs>=2.5 in ./.local/lib/python3.11/site-packages (from jupyter-core>=4.6.1->notebook>=4.0.0->qgrid) (3.5.1)
Requirement already satisfied: jupyter-server>=1.8 in ./.local/lib/python3.11/site-packages (from nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (2.6.0)
Requirement already satisfied: notebook-shim>=0.2.3 in ./.local/lib/python3.11/site-packages (from nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (0.2.3)
Requirement already satisfied: beautifulsoup4 in /usr/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (4.12.2)
Requirement already satisfied: bleach in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (6.0.0)
Requirement already satisfied: defusedxml in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (0.2.2)
Requirement already satisfied: markupsafe>=2.0 in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (2.1.3)
Requirement already satisfied: mistune<3,>=2.0.3 in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (2.0.5)
Requirement already satisfied: nbclient>=0.5.0 in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (0.8.0)
Requirement already satisfied: pandocfilters>=1.4.1 in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (1.5.0)
Requirement already satisfied: tinycss2 in ./.local/lib/python3.11/site-packages (from nbconvert>=5->notebook>=4.0.0->qgrid) (1.2.1)
Requirement already satisfied: fastjsonschema in ./.local/lib/python3.11/site-packages (from nbformat->notebook>=4.0.0->qgrid) (2.17.1)
Requirement already satisfied: jsonschema>=2.6 in ./.local/lib/python3.11/site-packages (from nbformat->notebook>=4.0.0->qgrid) (4.17.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.18.0->qgrid) (1.16.0)
Requirement already satisfied: ptyprocess in /usr/lib/python3.11/site-packages (from terminado>=0.8.3->notebook>=4.0.0->qgrid) (0.7.0)
Requirement already satisfied: argon2-cffi-bindings in ./.local/lib/python3.11/site-packages (from argon2-cffi->notebook>=4.0.0->qgrid) (21.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in ./.local/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.8.3)
Requirement already satisfied: attrs>=17.4.0 in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (23.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (0.19.3)
Requirement already satisfied: anyio>=3.1.0 in ./.local/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (3.7.0)
Requirement already satisfied: jupyter-events>=0.6.0 in ./.local/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (0.6.3)
Requirement already satisfied: jupyter-server-terminals in ./.local/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (0.4.4)
Requirement already satisfied: overrides in ./.local/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (7.3.1)
Requirement already satisfied: websocket-client in ./.local/lib/python3.11/site-packages (from jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (1.5.2)
Requirement already satisfied: wcwidth in ./.local/lib/python3.11/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.2.6)
Requirement already satisfied: cffi>=1.0.1 in /usr/lib64/python3.11/site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.0.0->qgrid) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /usr/lib/python3.11/site-packages (from beautifulsoup4->nbconvert>=5->notebook>=4.0.0->qgrid) (2.4.1)
Requirement already satisfied: webencodings in ./.local/lib/python3.11/site-packages (from bleach->nbconvert>=5->notebook>=4.0.0->qgrid) (0.5.1)
Requirement already satisfied: executing>=1.2.0 in ./.local/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in ./.local/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (2.2.1)
Requirement already satisfied: pure-eval in ./.local/lib/python3.11/site-packages (from stack-data->ipython>=6.1.0->ipywidgets>=7.0.0->qgrid) (0.2.2)
Requirement already satisfied: idna>=2.8 in /usr/lib/python3.11/site-packages (from anyio>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (3.4)
Requirement already satisfied: sniffio>=1.1 in ./.local/lib/python3.11/site-packages (from anyio>=3.1.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (1.3.0)
Requirement already satisfied: pycparser in /usr/lib/python3.11/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.0.0->qgrid) (2.20)
Requirement already satisfied: python-json-logger>=2.0.4 in ./.local/lib/python3.11/site-packages (from jupyter-events>=0.6.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /usr/lib64/python3.11/site-packages (from jupyter-events>=0.6.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (6.0)
Requirement already satisfied: rfc3339-validator in ./.local/lib/python3.11/site-packages (from jupyter-events>=0.6.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in ./.local/lib/python3.11/site-packages (from jupyter-events>=0.6.0->jupyter-server>=1.8->nbclassic>=0.4.7->notebook>=4.0.0->qgrid) (0.1.1)
Requirement already satisfied: fqdn in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (1.5.1)
Requirement already satisfied: isoduration in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (2.3)
Requirement already satisfied: uri-template in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (1.2.0)
Requirement already satisfied: webcolors>=1.11 in ./.local/lib/python3.11/site-packages (from jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (1.13)
Requirement already satisfied: ply==3.11 in /usr/lib/python3.11/site-packages (from pycparser->cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.0.0->qgrid) (3.11)
Requirement already satisfied: arrow>=0.15.0 in ./.local/lib/python3.11/site-packages (from isoduration->jsonschema>=2.6->nbformat->notebook>=4.0.0->qgrid) (1.2.3)
Installing collected packages: qgrid
  DEPRECATION: qgrid is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559
  Running setup.py install for qgrid ... done
Successfully installed qgrid-1.3.1

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [23]:
%sql mysql+mysqlconnector://root:VoLk_2713@localhost/internet_shop

In [24]:
%%sql
DROP DATABASE IF EXISTS internet_shop;
CREATE DATABASE internet_shop DEFAULT CHARACTER SET utf8mb4;
USE internet_shop;

CREATE TABLE customers (
    customer_id INT AUTO_INCREMENT,
    last_name VARCHAR(100) NOT NULL,
    first_name VARCHAR(100) NOT NULL,
    middle_name VARCHAR(100),
    address VARCHAR(200) NOT NULL,
    phone VARCHAR(15),
    email VARCHAR(50) NOT NULL,
    regular_customer ENUM('0', '1') DEFAULT '0',
    discount DECIMAL(5, 2),
    PRIMARY KEY (customer_id)
) ENGINE=InnoDB;

CREATE TABLE products (
    product_id INT AUTO_INCREMENT,
    name VARCHAR(100) NOT NULL,
    price DECIMAL(10, 2) NOT NULL,
    unit VARCHAR(20) NOT NULL,
    PRIMARY KEY (product_id)
) ENGINE=InnoDB;

CREATE TABLE sales (
    sale_id INT AUTO_INCREMENT,
    product_id INT NOT NULL,
    customer_id INT NOT NULL,
    sale_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    delivery_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    quantity INT NOT NULL,
    discount DECIMAL(5, 2),
    PRIMARY KEY (sale_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (customer_id) REFERENCES customers(customer_id) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB;

CREATE TABLE warehouse (
    product_id INT NOT NULL,
    quantity_in_stock INT NOT NULL,
    PRIMARY KEY (product_id),
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB;

CREATE TABLE order_details (
    order_detail_id INT AUTO_INCREMENT,
    sale_id INT NOT NULL,
    product_id INT NOT NULL,
    quantity INT NOT NULL,
    discount DECIMAL(5, 2),
    PRIMARY KEY (order_detail_id),
    FOREIGN KEY (sale_id) REFERENCES sales(sale_id) ON DELETE CASCADE ON UPDATE CASCADE,
    FOREIGN KEY (product_id) REFERENCES products(product_id) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB;

-- Данные таблицы Customers
INSERT INTO customers (last_name, first_name, middle_name, address, phone, email, regular_customer, discount) 
VALUES 
('Smith', 'John', 'Anthony', '123 Main St', '555-1234', 'johnsmith@example.com', '1', 5.00),
('Doe', 'Jane', 'Elizabeth', '456 Maple St', '555-5678', 'janedoe@example.com', '0', 0.00),
('Johnson', 'Mike', 'Edward', '789 Pine St', '555-2468', 'mikejohnson@example.com', '1', 10.00),
('Brown', 'Emily', 'Grace', '1600 Amphitheatre Parkway', '555-3344', 'emilybrown@example.com', '1', 3.00),
('Taylor', 'Robert', 'James', '1 Infinite Loop', '555-7788', 'roberttaylor@example.com', '0', 0.00),
('Wilson', 'Emma', 'Sophia', '1 Hacker Way', '555-1122', 'emmawilson@example.com', '1', 15.00),
('Miller', 'Charlie', 'Daniel', '1601 Willow Rd', '555-9988', 'charliemiller@example.com', '0', 0.00),
('Davis', 'Olivia', 'Mia', '3555 Monarch St', '555-6677', 'oliviadavis@example.com', '1', 7.00),
('Moore', 'Lucas', 'Matthew', '2701 San Tomas Expressway', '555-4422', 'lucasmoore@example.com', '0', 0.00),
('Clark', 'Ava', 'Isabella', '3000 Tannery Way', '555-8877', 'avaclark@example.com', '1', 5.00);

-- Данные таблицы Products
INSERT INTO products (name, price, unit) 
VALUES 
('Apple', 0.99, 'kg'),
('Orange', 1.49, 'kg'),
('Milk', 2.50, 'Litre'),
('Banana', 0.59, 'kg'),
('Cheese', 4.99, 'kg'),
('Bread', 1.20, 'Piece'),
('Tomato', 1.99, 'kg'),
('Eggs', 2.10, 'Dozen'),
('Chicken', 5.99, 'kg'),
('Butter', 2.30, 'Block');

-- Данные таблицы Sales
INSERT INTO sales (product_id, customer_id, sale_date, delivery_date, quantity, discount) 
VALUES 
(1, 1, NOW(), NOW() + INTERVAL 1 DAY, 10, 5.00),
(2, 2, NOW(), NOW() + INTERVAL 2 DAY, 15, 0.00),
(3, 3, NOW(), NOW() + INTERVAL 3 DAY, 5, 10.00),
(4, 4, NOW(), NOW() + INTERVAL 2 DAY, 5, 3.00),
(5, 5, NOW(), NOW() + INTERVAL 3 DAY, 2, 0.00),
(6, 6, NOW(), NOW() + INTERVAL 1 DAY, 10, 15.00),
(7, 7, NOW(), NOW() + INTERVAL 2 DAY, 3, 0.00),
(8, 1, NOW(), NOW() + INTERVAL 1 DAY, 7, 7.00),
(9, 2, NOW(), NOW() + INTERVAL 1 DAY, 6, 0.00),
(10, 3, NOW(), NOW() + INTERVAL 1 DAY, 4, 5.00);

-- Данные таблицы Warehouse
INSERT INTO warehouse (product_id, quantity_in_stock) 
VALUES 
(1, 100),
(2, 200),
(3, 300),
(4, 500),
(5, 150),
(6, 120),
(7, 80),
(8, 220),
(9, 300),
(10, 250);

-- Данные таблицы Order Details
INSERT INTO order_details (sale_id, product_id, quantity, discount) 
VALUES 
(1, 1, 10, 5.00),
(2, 2, 15, 0.00),
(3, 3, 5, 10.00),
(4, 4, 5, 3.00),
(5, 5, 2, 0.00),
(6, 6, 10, 15.00),
(7, 7, 3, 0.00),
(8, 1, 7, 7.00),
(9, 2, 6, 0.00),
(10, 3, 4, 5.00);

 * mysql+mysqlconnector://root:***@localhost/internet_shop
0 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
10 rows affected.
10 rows affected.
10 rows affected.
10 rows affected.
10 rows affected.

[]

In [50]:
import pandas as pd

# Выполните SQL-запрос и получите результаты
customers = %sql SELECT * FROM customers
products = %sql SELECT * FROM products
warehouse = %sql SELECT * FROM warehouse
order_details = %sql SELECT * FROM order_details
sales = %sql SELECT * FROM sales

 * mysql+mysqlconnector://root:***@localhost/internet_shop
10 rows affected.
 * mysql+mysqlconnector://root:***@localhost/internet_shop
10 rows affected.
 * mysql+mysqlconnector://root:***@localhost/internet_shop
10 rows affected.
 * mysql+mysqlconnector://root:***@localhost/internet_shop
10 rows affected.
 * mysql+mysqlconnector://root:***@localhost/internet_shop
10 rows affected.

In [51]:
# Преобразуйте результаты в DataFrame и отобразите таблицу
df = customers.DataFrame()
df.head()

,customer_id,last_name,first_name,middle_name,address,phone,email,regular_customer,discount
0,1,Smith,John,Anthony,123 Main St,555-1234,johnsmith@example.com,1,5.00
1,2,Doe,Jane,Elizabeth,456 Maple St,555-5678,janedoe@example.com,0,0.00
2,3,Johnson,Mike,Edward,789 Pine St,555-2468,mikejohnson@example.com,1,10.00
3,4,Brown,Emily,Grace,1600 Amphitheatre Parkway,555-3344,emilybrown@example.com,1,3.00
4,5,Taylor,Robert,James,1 Infinite Loop,555-7788,roberttaylor@example.com,0,0.00

In [52]:
df = warehouse.DataFrame()
df.head()

   product_id  quantity_in_stock
0           1                100
1           2                200
2           3                300
3           4                500
4           5                150

In [47]:
df = order_details.DataFrame()
df.head()

 * mysql+mysqlconnector://root:***@localhost/internet_shop
10 rows affected.

   order_detail_id  sale_id  product_id  quantity discount
0                1        1           1        10     5.00
1                2        2           2        15     0.00
2                3        3           3         5    10.00
3                4        4           4         5     3.00
4                5        5           5         2     0.00

In [53]:
df = sales.DataFrame()
df.head()

,sale_id,product_id,customer_id,sale_date,delivery_date,quantity,discount
0,1,1,1,2023-06-09 13:01:54,2023-06-10 13:01:54,10,5.00
1,2,2,2,2023-06-09 13:01:54,2023-06-11 13:01:54,15,0.00
2,3,3,3,2023-06-09 13:01:54,2023-06-12 13:01:54,5,10.00
3,4,4,4,2023-06-09 13:01:54,2023-06-11 13:01:54,5,3.00
4,5,5,5,2023-06-09 13:01:54,2023-06-12 13:01:54,2,0.00

In [55]:
df = products.DataFrame()
df.head()

   product_id    name price   unit
0           1   Apple  0.99     kg
1           2  Orange  1.49     kg
2           3    Milk  2.50  Litre
3           4  Banana  0.59     kg
4           5  Cheese  4.99     kg